* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E0C9;
}

#display {
    height: 80px;
    width: 250px;
    background-color: #C1CFC0;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 4px solid #11324D;
    border-radius: 10px;
    padding: 10px;
}

.container {
    background-color: #11324D;
    padding: 10px;
    border-radius: 10px;
}

button {
    height: 35px;
    width: 60px;
    cursor: pointer;
    background-color: #091b2b;
    color: #C1CFC0;
    border: none;
    font-size: 18px;
    border-radius: 7px;
}

button:active {
    background-color: #C1CFC0;
    color: #11324D;
}

#equals {
    width: 120px;
}

#plus{
    height: 105px;
}